/* Main CSS */
:root {
    --primary-color: #363636;
    --white-color: #FFFFFF;
    --text-color: #484848;
    --gray-color: #888888;
    --light-gray-color: #88888879;
}

html {
  scroll-behavior: smooth;
}
/* Homepage Scection CSS */

.homepage, .contact {
    min-height: calc(110vh - 60px);
    display: flex;
    align-items: center;
}

.homepage_container, .project_container, .contact_container {
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
.homepage_body, .project_body, .contact_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.homepage_content, .contact_content {
    max-width: 500px;
    width: 100%;
    padding-right: 20px;
}

.homepage_img, .contact_img {
    max-width: 420px;
    width: 100%;
}

.homepage_img img {
    display: block;
    width: 100%;
}

.homepage_title, .contact_title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: .3s;
}

.homepage_title span {
    color: var(--primary-color);
    transition: .3s;
}

.homepage_details {
     display: block;
     font-weight: 500;
     font-size: 24px;
     color: var(--gray-color);
     margin-bottom: 25px;
}

.homepage_txt {
    font-size: 20px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: .3s;
}

.btn {
    display: inline-flex;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 13px 36px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    transition: .3s;
  }

.btn .bx {
    font-size: 24px;
}

.btn:hover {
    background: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.05);
}

/* Project Section CSS */
#project_sec {
  margin-top: 80px;
  margin-bottom: 300px;
}
.projects {
  background-color: var(--white-color);
  padding: 100px 0;
  margin-top: 2rem;
}

.project-pic__it {
  width: 100%;
  height: 100%;
}
.project-pic__mm {
  width: 78%;
  height: 60%;
}

.project_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  font-size: 40px;
  font-weight: 800;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}


.project-details {
  margin-bottom: var(--light-gray-color);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--light-gray-color);
  padding: 20px;
  margin: 10px;
}

.prof_educ__p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
  transition: .3s;
}

/* Contact Section CSS */

.contact_details {
  display: block;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.contact_item {
  margin-bottom: 12px;
  transition: .3s;
}

.contact_img img {
  display: block;
  width: 100%;
}

/* Footer CSS */
.footer_sec {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer_content {
  color: #8f9296;
  font-size: 24px;
  margin: 0;
}

/* Media / Responsive */
@media (max-width: 1023px) {
    .homepage_title, .contact_title {
      font-size: 42px;
    }
    .homepage_details, .contact_details {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .homepage_txt {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .btn {
      font-size: 14px;
    }
    .btn .bx {
      font-size: 20px;
    }
    .projects-container, .contact_container, .contact_body {
      flex-direction: column;
    }
    .project-container {
      width: 20.875rem;
    }
}
  
@media (max-width: 767px) {
    .homepage, .contact {
      min-height: calc(100vh - 69px);
    }
    .homepage_body {
      flex-direction: column-reverse;
    }
    .homepage_img, .contact_img {
      margin-bottom: 30px;
    }
    .homepage_content, .contact_content {
      padding: 0;
    }
    .homepage_title, .contact_title {
      font-size: 32px;
      text-align: center;
    }
    .homepage_details, .contact_details {
      text-align: center;
    }
    .homepage_txt {
      text-align: center;
    }
    .homepage_btn {
      display: flex;
      justify-content: center;
    }
    .project_container {
      flex-direction: column;
    }
    .projects-container {
      flex-direction: column;
    }
    .project-container {
      width: 20.875rem;
    }
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
