/* Main CSS */
:root {
    --primary-color: #363636;
    --white-color: #FFFFFF;
    --text-color: #484848;
    --gray-color: #888888;
}

/* profile CSS */

.profile {
    min-height: calc(110vh - 80px);
    display: flex;
    align-items: center;
    background-color: var(--gray-color);
}

.profile_container{
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
.profile_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}

.profile_content {
    max-width: 600px;
    width: 100%;
    padding-right: 20px;
}

.profile_img {
    max-width: 250px;
    width: 50%;
}

.profile_skills {
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
}

.profile_img img {
    display: block;
    width: 100%;
}

.profile_title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
    transition: .3s;
}


.profile_details {
     display: block;
     font-weight: 500;
     font-size: 24px;
     color: var(--text-color);
     margin-bottom: 25px;
}

.profile_job {
  display: block;
  font-weight: 700;
  font-size: 28px;
  color: var(--text-color);
  margin-top: -20px;
  margin-bottom: 25px;
  border-top: solid;
}

.profile_txt {
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: .3s;
}

.btn {
    display: inline-flex;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 13px 36px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    transition: .3s;
  }

.btn .bx {
    font-size: 24px;
}

.btn:hover {
    background: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.05);
}

.home-soc {
    display: flex;
    margin: 0 -10px;
    margin-top: 40px;
    align-items: center;
}

.home-soc_item {
    padding: 0 10px;
}

.home-soc_link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    background: transparent;
    font-size: 24px;
    color: var(--primary-color);
    transition: .3s;
  }



/* Media / Responsive */
@media (max-width: 1023px) {
    .profile_title {
      font-size: 42px;
    }
    .profile_details {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .profile_txt {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .home-soc {
      margin-top: 20px;
    }
    .btn {
      font-size: 14px;
    }
    .btn .bx {
      font-size: 20px;
    }
}
  
@media (max-width: 767px) {
    .profile {
      min-height: calc(100vh - 69px);
    }
    .profile_body {
      flex-direction: column;
    }
    .profile_img {
      margin-bottom: 30px;
    }
    .profile_content {
      padding: 0;
    }
    .profile_title {
      font-size: 32px;
      text-align: center;
    }
    .profile_details {
      text-align: center;
    }
    .profile_txt {
      text-align: center;
    }
    .profile_btn {
      display: flex;
      justify-content: center;
    }
    .home-soc {
      justify-content: center;
    }
}